.big-form {
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    max-height: 100%;
}

label {
    font-size: bold;
}

.input-field {
    border-color: rgba(0, 0, 0, 0.2);
    width: inherit;
    margin: 2px auto 16px;
    min-width: 64px;
    line-height: 36px;
    border-radius: 50px;
    text-indent: 5%;
}

.login-button {
    background-color: #286ef9 !important;
    color: #fff !important;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    line-height: normal;
    cursor: pointer;
    border-radius: 50px;
    font-size: 14px;
}

.google-login {
    display: flex;
    margin-bottom: 1rem;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #db4437;
}

.google-login button {
    font-size: bold;
}

.google-login-button {
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    width: inherit;
    margin: 0 auto 16px;
    min-width: 64px;
    line-height: 36px;
    text-indent: 5%;
    font-weight: bold;
}

.title {
    font-size: 21px;
    text-align: left;
    font-weight: bolder;
    padding-bottom: 5px;
}

.subtitle {
    font-size: 14px;
    padding-bottom: 3vh;
}

.google-logo {
    width: 14px;
    height: 14px;
}